<h2>About WMMcorp</h2>
<p>WMMcorp provides creative custom solutions and strategies driven by data and user interactions.</p>

<h2></h2>
<ul>
  <li><a href="/team">WMM Team</a></li>
  <li><a href="/history">History</a></li>
  <li><a href="/submit">Request More Information</a></li>
</ul>
<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/mclaubach/mclaubach.github.io">GitHub</a>
  </li>
</ul>
