<h2>About WMMcorp</h2>
<p>WMMcorp provides creative custom solutions and strategies driven by data and user/site/user interactions.</p>

<h2></h2>
<ul>
  <li><a href="/team">WMM Team</a></li>
  <li><a href="/history">History</a></li>
  <li><a href="/submit">Request More Information</a></li>
</ul>

<p>For more information, including setup and configuration instructions, bug reports or feature requests head over to <a href="https://github.com/excentris/compass">GitHub</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/mclaubach/mclaubach.github.io">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://x4c.me/">The Author</a>
  </li>
</ul>
