<h2>WMMcorp History</h2>
<p style="font-size:13px">WMMcorp has grown in both size and stature since its inception in 1991.Early success on a number of broadscope projects allowed for WMMcorp to expand to the East Coast in 2010. With thought centers in New York, New York and Boston, Massachusetts, along with additional contributions from New Jersey and Connecticut locations, WMMcorp has established itself as a premiere strategy solution for businesses in all stages of operation. Listed below are some of WMMcorp's most successfully implemented strategies across a wide scope of work.
<ul style="font-size:11px">
  <li>Total Factor Production Growth in National Economics</li>
  <li>Talent Valuation using Cost Basis in Sports Management</li>
  <li>Perceptions and Expectations in Creative Consulting</li>
  <li>Critical Observations of North Shore Near-Coast Sea Life in Environmental Strategies</li>
  <li>Financial Valuation and Analysis in Financial Strategies</li>
  <li>Alternative Music Control Device Implementation in Programming Strategies</li>
</ul>
</p>

<hr />
  {% include footer.html %}
