<h2>Request More Information</h2>
<p>The WMMcorp Team is always eager to hear from potential partners. Please input your contact information, any questions for us, and a brief description of your business in the form below. A team member will respond promptly. </p>

<form action="https://getsimpleform.com/messages?form_api_token=7c653d8a5a806b556abb57438f396477" method="post">
  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
  <input type='hidden' name='redirect_to' value='http://mclaubach.github.io/success/' />
  <!-- all your input fields here.... -->
  <ul align="right" style="list-style-type:none">
    <li>Name:&nbsp; &nbsp; &nbsp;<input type='text' name='Full Name' /></li>
    <li>Email:&nbsp; &nbsp; &nbsp;<input type='text' name='Contact Email' /></li>
    <li>Inquiry:&nbsp; &nbsp; &nbsp;<input type='text' style='height:80px;' name='Content' /></li>
    <br />
  <input type='submit' value='Submit' />
  </ul>
</form>
<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/mclaubach/mclaubach.github.io">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://x4c.me/">The Author</a>
  </li>
</ul>
