<h2>WMMcorp Team</h2>
<p>The WMMcorp Team strives to provide unique, comprehensive strategic solutions to our clients. Our transcontinental team is passionate, motivated, and well-suited to handle the diverse strategic challenges of a modern world.</p>

<h2></h2>
<ul style="list-style: none;">
  <li>
  president<br>
 &nbsp;&nbsp; <a href="mailto:m.laubach@WMMcorp.com"><img src="/images/email.png">&nbsp;&nbsp;matthew laubach</a>
  </li>
  <li>
  director of retail<br>
  &nbsp;&nbsp;<a href="mailto:l.laubach@WMMcorp.com"><img src="/images/email.png">&nbsp;&nbsp;laura laubach</a>
  </li>
  <li>
  director of analytics<br>
  &nbsp;&nbsp;<a href="mailto:j.mccall@WMMcorp.com"><img src="/images/email.png">&nbsp;&nbsp;jacob mccall</a>
  </li>
  <li>
  creative director<br>
  &nbsp;&nbsp;<a href="mailto:c.sullivan@WMMcorp.com"><img src="/images/email.png">&nbsp;&nbsp;connor sullivan</a>
  </li>
  <li>
  music director<br>
  &nbsp;&nbsp;<a href="mailto:j.summers@WMMcorp.com"><img src="/images/email.png">&nbsp;&nbsp;jacob summers</a>
  </li>
  <li>
  chief finance officer (CFO)<br>
  &nbsp;&nbsp;<a href="mailto:m.makarewicz@WMMcorp.com"><img src="/images/email.png">&nbsp;&nbsp;matt makarewicz</a>
  </li>
  <li>
  director of m & a<br>
  &nbsp;&nbsp;<a href="mailto:c.long@WMMcorp.com"><img src="/images/email.png">&nbsp;&nbsp;chris long</a>
  </li>
  <li>
  director of technology<br>
  &nbsp;&nbsp;<a href="mailto:r.williams@WMMcorp.com"><img src="/images/email.png">&nbsp;&nbsp;ryan williams</a>
  </li>
  <li>
  director of public relations<br>
  &nbsp;&nbsp;<a href="mailto:mark.laubach@WMMcorp.com"><img src="/images/email.png">&nbsp;&nbsp;mark laubach</a>
  </li>
  <li>
  director of cosmicology<br>
  &nbsp;&nbsp;<a href="mailto:andrea.piatti@WMMcorp.com"><img src="/images/email.png">&nbsp;&nbsp;andrea piatti</a>
  </li>
  <li>
  director of social analysis<br>
  &nbsp;&nbsp;<a href="mailto:h.bowman@WMMcorp.com"><img src="/images/email.png">&nbsp;&nbsp;hannah bowman</a>
  </li>
</ul>

<p>We are always searching for talent. Send CVs &amp; Statements to <a href="mailto:hired@WMMcorp.com">hired@WMMcorp.com</a>.</p>

<hr />
{% include footer.html %}
