<h2>WMMcorp Team</h2>
<p>The WMMcorp Team strives to provide unique, comprehensive strategic solutions to our clients. Our transcontinental team is passionate, motivated, and well-suited to handle the diverse strategic challenges of a modern world.</p>

<h2></h2>
<ul style="list-style: none;">
  <li>
  director of operations<br>
 &nbsp;&nbsp; <a href="mailto:m.laubach@WMMcorp.com"><img src="/images/email.png">&nbsp;&nbsp;matthew laubach</a>
  </li>
  <li>
  director of analytics<br>
  &nbsp;&nbsp;<a href="mailto:j.mccall@WMMcorp.com"><img src="/images/email.png">&nbsp;&nbsp;jacob mccall</a>
  </li>
  <li>
  director of sustainability<br>
  &nbsp;&nbsp;<a href="mailto:n.dellaporta@WMMcorp.com"><img src="/images/email.png">&nbsp;&nbsp;nicole della porta</a>
  </li>
  <li>
  creative director<br>
  &nbsp;&nbsp;<a href="mailto:c.sullivan@WMMcorp.com"><img src="/images/email.png">&nbsp;&nbsp;connor sullivan</a>
  </li>
  <li>
  director of finance<br>
  &nbsp;&nbsp;<a href="mailto:c.long@WMMcorp.com"><img src="/images/email.png">&nbsp;&nbsp;chris long</a>
  </li>
  <li>
  director of technology<br>
  &nbsp;&nbsp;<a href="mailto:r.williams@WMMcorp.com"><img src="/images/email.png">&nbsp;&nbsp;ryan williams</a>
  </li>
  <li>
  director of public relations<br>
  &nbsp;&nbsp;<a href="mailto:mark.laubach@WMMcorp.com"><img src="/images/email.png">&nbsp;&nbsp;mark laubach</a>
  </li>
  <li>
  director of cosmicology<br>
  &nbsp;&nbsp;<a href="mailto:andrea.piatti"><img src="/images/email.png>&nbsp;nbsp;andrea piatti</a>
  </li>
  &nbsp;&nbsp;<a href="mailto:h.bowman@WMMcorp.com"><img src="/images/email.png">&nbsp;&nbsp;hannah bowman</a>
  </li>
</ul>

<p>We are always searching for talent. Send CVs &amp; Statements to <a href="mailto:hired@WMMcorp.com">hired@WMMcorp.com</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/mclaubach/mclaubach.github.io">GitHub</a>
  </li>
</ul>
