<h2>WMMcorp Team</h2>
<p>The WMMcorp Team strives to provide unique, comprehensive strategic solutions to our clients. Our team members are passionate, motivated, and well-suited to handle the diverse strategic challenges of a modern world.</p>

<h2></h2>
<ul>
  <li><a href="mailto:m.laubach@WMMcorp.com">matthew laubach</a></li>
  <li><a href="mailto:j.mccall@WMMcorp.com">jacob mccall</a></li>
  <li><a href="mailto:c.sullivan@WMMcorp.com">connor sullivan</a></li>
  <li><a href="mailto:n.dellaporta@WMMcorp.com">nicole della porta</a></li>
</ul>

<p>We are always on the search for talent. Send CVs &amp; Statements to <a href="mailto:hired@WMMcorp.com">hired@WMMcorp.com</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/mclaubach/mclaubach.github.io">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://x4c.me/">The Author</a>
  </li>
</ul>
